* {
  width: 800px;
  font-family: sans-serif;
  margin: auto;
  justify-content: space-between;
}

.container {
  background-color: beige;
  height: 1000px;
  gap: 20px;
}

.b-red {
  background-color: lightcoral;
  align-items: center;
  height: 80px;
}

.b-2x1 {
  background-color: black;
  height: 160px;
  display: flex;
}

.b-blue {
  background-color: lightblue;
  width: 50%;
  height: 100%;
}

.b-green {
  background-color: lightgreen;
  width: 50%;
  height: 100%;
}

.b-3x1 {
  height: 160px;
  display: flex;
}

.b-yellow1 {
  border: 1px solid;
  background-color: goldenrod;
  height: 100%;
  width: 100%;
}

.b-yellow2 {
  background-color: goldenrod;
  height: 100%;
  width: 100%;
}

.b-yellow3 {
  border: 1px solid;
  background-color: goldenrod;
  height: 100%;
  width: 100%;
}

.b-2x1uneven {
  height: 160px;
  display: flex;
}

.b-pink {
  background-color: hotpink;
  height: 100%;
  width: 66%;
}

.b-maroon {
  border: 1px solid;
  background-color: maroon;
  height: 100%;
  width: 34%;
}
