/* color palette
#6b6461 #faebd7 #185a6f #151515 #bb514f #245558 
 */

body {
  background-color: #faebd7;
  font-family: sans-serif;
  margin: auto;
  width: 500px;
  margin-top: 0;
  /* width: 50%; */
}

.first {
  color: #bb514f;
  font-weight: bold;
  /* width: 500px; */
  margin: auto;
  text-align: center;
  font-size: 1250%;
}

.last {
  color: #245558;
  font-weight: bold;
  /* width: 500px; */
  margin: auto;
  text-align: center;
  font-size: 550%;
  margin-top: -50px;
}

.intro {
  color: #6b6461;
  /* width: 498px; */
  margin: auto;
  text-align: justify;
  font-size: large;
}

.timeline {
  color: #185a6f;
  font-size: 100px;

  text-align: center;
  font-family: sans-serif;
  /* width: 500px; */
  margin: auto;
}

.car {
  margin: auto;
  align-items: left;
}

/* IMAGES */
.img-linkedin {
  margin-top: 3px;
  margin-left: 20px;
  height: 56px;
  width: auto;
}

.img-briefcase {
  margin-top: 3px;
  color: #faebd7;
  font-size: 60px;
}

.img-car {
  width: 100px;
  height: auto;
}

/* TEXT */
.text-portfolio {
  margin-top: 25px;
  color: #faebd7;
  font-weight: bold;
  text-align: center;
}

.nav-box {
  padding-top: 20px;
  background-color: #faebd7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
}

.nav-box1 {
  background-color: #185a6f;
  /* background-color: black; */
  height: 65px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.nav-box2 {
  background-color: #bb514f;
  height: 65px;
  display: flex;
  justify-content: center;
}

.nav-box3 {
  background-color: #6b6461;
  height: 65px;
  display: flex;
  justify-content: center;
}

.nav-box4 {
  background-color: #245558;
  height: 65px;
  display: flex;
  justify-content: center;
}

.main {
  width: 500px;
  text-align: center;
  font-family: sans-serif;
}

.main p {
  color: #bb514f;
}

.grid2x2 {
  height: 100%;
  margin: auto;
  width: calc(30vw - 60px);
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.timeline-box1 {
  background-color: red;
  height: 125px;
  display: flex;
  justify-content: center;
}
.carpic {
}
.timeline-box2 {
  background-color: blue;
  height: 125px;
  grid-column: 2 / 5;
}

.timeline-box3 {
  background-color: green;
  height: 125px;
}

.timeline-box4 {
  background-color: gold;
  height: 125px;
}
