/* color palette
#6b6461 #faebd7 #185a6f #151515 #bb514f #245558 
 */

body {
  background-color: #faebd7;
  font-family: QuickSand, sans-serif;
  margin: auto;
  width: 600px;
  margin-top: 0;
  /* width: 50%; */
}

.first {
  color: #bb514f;
  font-weight: bold;
  /* width: 500px; */
  margin: auto;
  text-align: center;
  font-size: 1250%;
}

.last {
  color: #245558;
  font-weight: bold;
  /* width: 500px; */
  margin: auto;
  text-align: center;
  font-size: 550%;
  margin-top: -50px;
}

.intro {
  color: #6b6461;
  /* width: 498px; */
  margin: auto;
  text-align: justify;
  font-size: large;
}

.text-timeline {
  border: #185a6f solid;
  border-radius: 25px;
  border-width: 10px;
  /* padding-top: 75px; */
  color: #185a6f;
  font-size: 75px;

  text-align: center;
  font-family: sans-serif;
  /* width: 500px; */
  margin: auto;

}

.car {
  margin: auto;
  align-items: left;
}

/* IMAGES */
.img-linkedin {
  margin-top: 3px;
  margin-left: 20px;
  height: 56px;
  width: auto;
}

.img-briefcase {
  margin-top: 3px;
  color: #faebd7;
  font-size: 60px;
  pointer-events: none;
}

.img-resume {
  margin-top: 3px;
  color: #faebd7;
  font-size: 60px;
}

.img-email {
  margin-top: 3px;
  color: #faebd7;
  font-size: 60px;
}

.img-car {
  width: 100px;
  height: auto;
}

.img-glasses {
  width: 100px;
  height: auto;
  color: #185a6f;
}

.img-cptc {
  width: auto;
  height: 100px;
}

.img-pencil {
  size: ;
  color: #bb514f;
  font-size: 75px;
}

.img-baby {
  color:#245558;
  font-size: 75px;
}

/* TEXT */
.text-portfolio {
  margin-top: 25px;
  color: #faebd7;
  font-weight: bold;
  text-align: center;
}

.text-portfolio:hover {
  content: Nick's Portfolio;
}

.text-resume {
  margin-top: 25px;
  color: #faebd7;
  font-weight: bold;
  text-align: center;
}

.text-email {
  margin-top: 25px;
  color: #faebd7;
  font-weight: bold;
  text-align: center;
}



.text-apr2022 {
  color:#6b6461
  }

.text-oct2021 {
  color:#6b6461
  }

.text-jan2021 {
    color:#6b6461
    }

.text-jun2020
{
  color:#6b6461
  }
/* NAV */
.nav-box {
  padding-top: 20px;
  background-color: #faebd7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  padding-bottom: 25px;
}

.nav-box1 {
  background-color: #185a6f;
  /* background-color: black; */
  height: 65px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.nav-box1-link {
  position: absolute;
  width: 299px;
  height: 65px;
  z-index: 1;
  flex-grow: 1;
}

.nav-box2 {
  background-color: #bb514f;
  height: 65px;
  display: flex;
  justify-content: center;
}

.nav-box2-link {
  position: absolute;
  width: 299px;
  height: 65px;
  z-index: 1;
  flex-grow: 1;
}


.nav-box3 {
  background-color: #6b6461;
  height: 65px;
  display: flex;
  justify-content: center;
}

.nav-box4 {
  background-color: #245558;
  height: 65px;
  display: flex;
  justify-content: center;
}

.nav-box4-link {
  position: absolute;
  width: 299px;
  height: 65px;
  z-index: 1;
  flex-grow: 1;
}


.main {
  width: 500px;
  text-align: center;
  font-family: sans-serif;
}

.main p {
  color: #bb514f;
}



.timeline-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-top: 25px;
}
/* S: ROW 1 */
.timeline-box1 {
  /* background-color: red; */
  height: 125px;
  display: flex;
  justify-content: center;
}

.timeline-box2 {
  /* background-color: blue; */
  height: 125px;
  grid-column: 2 / 5;
  /* display: flex;
  justify-content: center; */
  /* display: flex;  */
  justify-content: left; 
  /* align-items:flex-start; */
  text-align:center;
  color: #6b6461;
}

.head-may {
  /* color: red; */
  /* background-color: olive; */
    text-align: center;
    margin-bottom: -20px;
  }
  .text-may2022 {
  color:#6b6461
  }
/* E: ROW 1 */

/* S: ROW 2 */
.timeline-box3 {
  background-color: hotpink;
  grid-column: 1 / 4;
  height: 125px;
  /* display: flex;
  justify-content: center; */
  /* display: flex;  */
  justify-content: center; 
  /* align-items:flex-start; */
  text-align:center;
  color: #6b6461;
}
.timeline-box4 {
  background-color: purple;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head-apr {
  color: red;
  background-color: olive;
    text-align: center;
    margin-bottom: -20px;
  }
  .text-apr2022 {
  color:#6b6461
  text-align: center;

  }

  /* E: ROW 2 */

/* S: ROW 3 */
.timeline-box5 {
  /* background-color: red; */
  height: 125px;
  display: flex;
  justify-content: center;
}

.timeline-box6 {
  /* background-color: blue; */
  height: 125px;
  grid-column: 2 / 5;
  /* display: flex;
  justify-content: center; */
  /* display: flex;  */
  justify-content: left; 
  /* align-items:flex-start; */
  text-align:center;
  color: #6b6461;
}

.head-oct {
  /* color: red; */
  /* background-color: olive; */
    text-align: center;
    margin-bottom: -20px;
  }
  .text-oct2022 {
  color:#6b6461
  }
/* E: ROW 3 */


.timeline-box9 {
  /* background-color: coral; */
  height: 125px;
  display: flex;
  justify-content: center;
}

.timeline-box10 {
  /* background-color: maroon; */
  height: 125px;
 
}

.timeline-box11 {
  /* background-color: lime; */
  height: 125px;
  grid-column: 2 / 4;
  /* display: flex;
  justify-content: center; */
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.timeline-box12 {
  /* background-color: steelblue; */
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-box13 {
  /* background-color: slateblue; */
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-box14 {
  /* background-color:teal; */
  height: 125px;
  grid-column: 2 / 4;
  /* display: flex;
  justify-content: center; */
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.timeline-box15 {
  /* background-color: firebrick; */
  height: 125px;
  display: flex;
  justify-content: center;
}