/* color palette
#6b6461 #faebd7 #185a6f #151515 #bb514f #245558 
 */

* {
  background-color: #faebd7;
  font-family: sans-serif;
  margin: auto;
  width: 500px;

  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  padding-top: 100px;
}

.nick {
  white-space: nowrap;
  font-size: 200px;
  text-align: center;
  font-weight: bold;
  color: white;
  align-items: center;
  background-color: red;
}

.hartford {
  margin-top: -45px;
  white-space: nowrap;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  color: white;
  align-items: center;
  background-color: blue;
}

.intro {
  align-items: center;
  background-color: yellow;
}
