* {
  background-color: aqua;
  align-content: center;
  align-items: center;
}

.outline-container {
  width: 600px;
  height: 1000px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
  margin: auto;
}

.box1 {
  background-color: red;
  height: 50px;
  width: 50px;
}

.box2 {
  background-color: blue;
  height: 50px;
  width: 50px;
}

.box3-4 {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box3 {
  background-color: gold;
  height: 50px;
  width: 50px;
}

.box4 {
  background-color: green;
  height: 50px;
  width: 50px;
}

.article-container {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.article {
  background-color: magenta;
  height: 150px;
  width: 150px;
}

.side-article {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.article-box1 {
  background-color: lightcoral;
  height: 50px;
  width: 50px;
}

.article-box2 {
  background-color: hotpink;
  height: 50px;
  width: 50px;
}

.article-box3 {
  background-color: maroon;
  height: 50px;
  width: 50px;
}

.triple-box {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box5 {
  background-color: lightblue;
  height: 50px;
  width: 50px;
}

.box6 {
  background-color: darkblue;
  height: 50px;
  width: 50px;
}

.box7 {
  background-color: teal;
  height: 50px;
  width: 50px;
}
